<link rel="stylesheet" href="/css/bootstrap.min.css" />

<h1 class="display-4 text-primary text-center my-5"><%= message %></h1>

<form action="/logout?_method=DELETE" method="POST"
class="d-flex w-100 justify-content-center mt-5">
  <button type="submit" class="px-4 btn btn-outline-danger">Log Out</button>
</form>
